a {
  text-decoration: none !important;
}


table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}

th {
  background-color: #f4f4f4;
  text-align: left;
}

th, td {
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

a {
  color: #007bff;
  text-decoration: none;
}
