<table border="1" cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th>Asset Name</th>
      <th>Asset Number</th>
      <th>Asset Type</th>
      <th>Status</th>
      <th>Purchase Price</th>
      <th>Current Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Van 250-5050</td>
      <td><a href="#">FA-07878</a></td>
      <td>Motor Vehicle</td>
      <td style="color: gray;">DRAFT</td>
      <td>LKR10,000,000.00</td>
      <td>LKR10,000,000.00</td>
    </tr>
  </tbody>
</table>


